<!DOCTYPE html>
<!--
                                   _       _   
								  | |     | |    
  Designed and Coded By           | | __ _| |__  
 / _ \ \ /\ / /\ \ /\ / /\ \ /\ / / |/ _` | '_ \ 
| (_) \ V  V /  \ V  V /  \ V  V /| | (_| | |_) |
 \___/ \_/\_/    \_/\_/    \_/\_/ |_|\__,_|_.__/ 

http://themeforest.net/user/owwwlab/
                                          
-->
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/WebPage">
  <!-- #####Begin head-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- globalise scripting and styling content language-->
    <meta name="Content-Type-Script" content="text/javascript">
    <meta name="Content-Type-Style" content="text/css">
    <!-- author of this doc-->
    <meta name="author" content="owwwlab.com">
    <!-- ################################-->
    <!-- #### add SEO metadata here-->
    <!-- ################################-->
    <!-- #####Begin styles-->
    <!-- stylesheets	-->
    <link href="assets/css/vendors/vendors.css" rel="stylesheet" type="text/css">
    <!-- Load extra page specific css-->
    <!-- Overwrite vendors-->
    <link href="assets/css/vendors/vendors-overwrites.css" rel="stylesheet" type="text/css">
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css">
    <link href="assets/css/demo4.css" rel="stylesheet" type="text/css">
    <!-- #####End styles-->
    <!-- #####Begin JS-->
    <!-- add your scripts to the end of the page for sake of page load speed-->
    <!-- scripts that need to be at head section-->
    <script src="assets/js/vendors/jquery.min.js"></script>
    <!-- #####End JS-->
    <!-- #####Begin load google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Sintony:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,200,300,400italic,500,700,900&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <!-- #####End load google fonts-->
    <title>Contact us - CHAOS HTML Template</title>
  </head>
  <!-- #####End head-->
  <body class="fullwidth sticky-header">
    <div id="wrapper" class="regular-layout">
      <!-- #####Begin Header-->
      <header id="header" class=" dark">
        <div class="head-main">
          <div class="container">
            <!-- logo-->
            <!-- #####Begin logo wrapper-->
            <div class="logo-wrapper">
              <!-- standard Logo--><a href="index.html"><img src="assets/img/logo/logo-light.png" alt="CHAOS HTML Template" class="logo-light ol-retina"><img src="assets/img/logo/logo-dark.png" alt="CHAOS HTML Template" class="logo-dark ol-retina"></a>
            </div>
            <!-- #####End logo wrapper-->
            <!-- primary navigation-->
            <ul id="primary-menu">
              <li><a href="index.html" title="Home"><span>Home</span></a>
              </li>
              <li class="menu-item-has-children"><a href="about.html" title="About"><span>About</span></a>
                <ul class="sub-menu">
                  <li><a href="about.html" title="About us"><span>About us</span></a>
                  </li>
                  <li><a href="about-history.html" title="Our History"><span>Our History</span></a>
                  </li>
                  <li><a href="about-people.html" title="People Directory"><span>People Directory</span></a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children"><a href="publications.html" title="Publications"><span>Publications</span></a>
                <ul class="sub-menu">
                  <li><a href="publications.html" title="Publications list"><span>Publications list</span></a>
                  </li>
                  <li><a href="pub-periodicals.html" title="Periodicals"><span>Periodicals</span></a>
                  </li>
                  <li><a href="pub-papers.html" title="Peer reviewed articles"><span>Peer reviewed articles</span></a>
                  </li>
                </ul>
              </li>
              <li><a href="research.html" title="Research"><span>Research</span></a>
              </li>
              <li><a href="news.html" title="News"><span>News</span></a>
              </li>
              <li class="menu-item-has-children to-left"><a href="events.html" title="Events"><span>Events</span></a>
                <ul class="sub-menu">
                  <li><a href="events.html" title="Events"><span>Events</span></a>
                  </li>
                  <li><a href="events-single.html" title="Single Event"><span>Single Event</span></a>
                  </li>
                </ul>
              </li>
              <li class="current-menu-item"><a href="contact.html" title="Contact"><span>Contact</span></a>
              </li>
            </ul>
            <div class="header-icons">
              <!-- #####Begin trigger for search-->
              <div class="search ol-search-trigger simple"><a href="#"><i class="oli oli-search"></i></a>
                <div class="search-area">
                  <div class="search-bar-wrapper">
                    <form role="form">
                      <input id="searchq" type="search" name="searchq" placeholder="Search..." class="form-control">
                    </form>
                  </div>
                </div>
              </div>
              <!-- #####End trigger for search-->
              <!-- #####Begin mobile menu trigger-->
              <div class="ol-mobile-trigger hamburger hamburger--elastic">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
              </div>
              <!-- #####End mobile menu trigger-->
            </div>
          </div>
        </div>
      </header>
      <!-- #####End Header-->
      <!-- #####Begin contents-->
      <section id="contents">
        <!-- #####Begin page head-->
        <div class="page-head h-500 parallax-layer center-it dark ov-grad1-alpha-70" data-img-src="assets/img/bg/013.jpg" data-parallax-mode="mode-title">
          <div class="container">
            <div class="tb-vcenter-wrapper">
              <div class="title-wrapper vcenter">
                <h4 class="head">Chaos</h4>
                <h1 class="title">Contact us</h1>
              </div>
              <div class="breadcrumb-wrapper vcenter">
                <ul class="breadcrumb">
                  <li><a href="#"><i class="oli oli-home"></i></a></li>
                  <li><a href="#">publication</a></li>
                  <li><a href="#">publication type</a></li>
                  <li>learning environment</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- #####End page head
        -->
        <section class="page-contents">
          <!-- #####Begin main area-->
          <section id="main-area">
            <section class="section bg-gray">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <h3 class="with-shaded-label"> <span class="shaded-label">Office #1</span>Office #1 </h3>
                    <div class="sp-blank-20"></div>
                    <p> Lorem ipsum dolor sit amet. Posuere platea rutrum quisque ultricies risus tempor habitant duis in sem primis in augue mattis sociosqu gravida arcu non volutpat.
                    </p>
                  </div>
                  <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet. Interdum molestie pellentesque gravida aliquam rhoncus metus tristique phasellus platea conubia lacinia scelerisque aptent condimentum sem cubilia sem tincidunt vulputate.
                    </p>
                    <!-- #####Begin list with icon-->
                    <ul class="icon-list">
                      <li><i class="oli oli-ResearchGate"></i><a href="#">ResearchGate Profile</a></li>
                      <li><i class="oli oli-address_book"></i>Lorem ipsum dolor sit amet. 
                      </li>
                      <li><i class="oli oli-user_male_circle"></i>Dapibus fermentum vulputate purus.
                      </li>
                    </ul>
                    <!-- #####End list with icon-->
                  </div>
                  <div class="col-md-4">
                    <div class="google-maps-container"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3022.260812859955!2d-73.990184!3d40.756288!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb134c693ac14a04c!2sThe+TimesCenter!5e0!3m2!1sen!2suk!4v1393485725496" width="500" height="450" frameborder="0" style="border:0"></iframe></div>
                  </div>
                </div>
              </div>
            </section>
            <section class="section">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <h3 class="with-shaded-label"> <span class="shaded-label">Secretary</span>Secretary Office</h3>
                    <div class="sp-blank-20"></div>
                    <p> Lorem ipsum dolor sit amet. Donec maecenas fames colus lacinia laoreet nisi tristique nec phasellus nostra turpis volutpat tincidunt purus felis ac malesuada condimentum quis.
                    </p>
                  </div>
                  <div class="col-md-4">
                    <!-- #####Begin accordion-->
                    <div class="ol-accordion">
                      <!-- #####Begin accordion item-->
                      <div class="ac-item open">
                        <div class="item-head"><i class="icon oi-plus"></i><span>Office</span></div>
                        <div class="item-body">
                          <p>Cambridge, MA 02138, United States</p>
                        </div>
                      </div>
                      <!-- #####End accordion item-->
                      <!-- #####Begin accordion item-->
                      <div class="ac-item">
                        <div class="item-head"><span>Phone</span></div>
                        <div class="item-body">
                          023 434 534 234</br>
                          CHAOS Interal: 32231</br>
                          International: +44 34 2332 7568
                        </div>
                      </div>
                      <!-- #####End accordion item-->
                      <!-- #####Begin accordion item-->
                      <div class="ac-item">
                        <div class="item-head"><span>Fax</span></div>
                        <div class="item-body">
                          023 434 534 234</br>
                          CHAOS Interal: 32231</br>
                          International: +44 34 2332 7568
                        </div>
                      </div>
                      <!-- #####End accordion item-->
                    </div>
                    <!-- #####End accordion-->
                  </div>
                  <div class="col-md-4">
                    <div class="google-maps-container"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3022.260812859955!2d-73.990184!3d40.756288!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb134c693ac14a04c!2sThe+TimesCenter!5e0!3m2!1sen!2suk!4v1393485725496" width="500" height="450" frameborder="0" style="border:0"></iframe></div>
                  </div>
                </div>
              </div>
            </section>
            <section class="section bg-gray">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <h3 class="with-shaded-label"> <span class="shaded-label">Form</span>Contact Form</h3>
                    <div class="sp-blank-20"></div>
                    <p> Lorem ipsum dolor sit amet. Pellentesque ante hac et at donec pretium nunc elit aptent dui aptent aenean felis risus quisque felis primis senectus nostra.
                    </p>
                  </div>
                  <div class="col-md-8">
                    <form id="contact-form" action="php/contact/contact.php">
                      <!-- #####Begin row with multiple columns-->
                      <div class="row multi-columns-row col-margin-bottom-20">
                        <div class="col-md-6">
                          <label for="name">Name</label>
                          <input type="text" name="name" class="form-control">
                        </div>
                        <div class="col-md-6">
                          <label for="email">Email</label>
                          <input type="email" name="email" class="form-control">
                        </div>
                        <div class="col-md-12">
                          <label for="subject">Subject</label>
                          <input type="text" name="subject" class="m-bottom-20 form-control">
                          <label>Message</label>
                          <textarea rows="6" type="textarea" name="message" class="m-bottom-20 form-control"></textarea>
                          <input type="submit" value="Post" class="btn btn-small btn-wide pull-right">
                        </div>
                      </div>
                      <!-- #####End row with multiple columns-->
                    </form>
                  </div>
                </div>
              </div>
            </section>
          </section>
          <!-- #####End main area
          -->
          <div class="clearfix"></div>
        </section>
      </section>
      <!-- #####End contents-->
      <footer id="footer" data-img-src="assets/img/bg/002.png" class="set-bg">
        <div class="container">
          <div class="sp-shadow-line-0 footer-shadow"></div>
        </div>
        <div id="footer-main">
          <div class="container">
            <div class="row">
              <div class="col-md-5 col-sm-12 m-bottom-sm-40"><a href="#" class="img"><img src="assets/img/logo/logo-light.png" alt="CHAOS HTML Template"></a>
                <div class="sp-blank-30"></div>
                <p>CHAOS is an HTML/CSS/JS template designed by owwwlab team wishing to help academic and scientific websites build modern pages with elegant design.</p>
                <ul class="social-icons shape-circle">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
              </div>
              <div class="col-md-3 col-md-offset-1 col-sm-6">
                <div class="widget">
                  <h4>Information for</h4>
                  <div class="links">
                    <ul>
                      <li><a href="#">Alumni</a></li>
                      <li><a href="#">Entrepreneurs</a></li>
                      <li><a href="#">Current students</a></li>
                      <li><a href="#">Faculty and staff</a></li>
                      <li><a href="#">Future students</a></li>
                      <li><a href="#">Fellowship students</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="widget">
                  <h4>Usefull links</h4>
                  <div class="links">
                    <ul>
                      <li><a href="#">Admission & Aid</a></li>
                      <li><a href="#">Accessibility</a></li>
                      <li><a href="#">Academics</a></li>
                      <li><a href="#">Research</a></li>
                      <li><a href="#">Campus Life</a></li>
                      <li><a href="#">Library</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="footer-bar">
          <div class="container">
            <div class="row tb-vcenter-wrapper bottom-bar">
              <div class="col-sm-6 vcenter">
                <div class="copyright">OWWWLAB 2015.</div>
                <div class="promo">Built with love & care for Academic People</div>
              </div>
              <div class="col-sm-6 vcenter">
                <ul class="footer-menu text-right-md">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Admission</a></li>
                  <li><a href="#">Staff</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- #####Begin scripts-->
    <script src="assets/js/vendors/vendors.js"></script>
    <!-- Local Revolution tools-->
    <!-- Only for local and can be removed on server-->
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <!-- #####End scripts-->
  </body>
</html>