<!DOCTYPE html>
<!--
                                   _       _   
								  | |     | |    
  Designed and Coded By           | | __ _| |__  
 / _ \ \ /\ / /\ \ /\ / /\ \ /\ / / |/ _` | '_ \ 
| (_) \ V  V /  \ V  V /  \ V  V /| | (_| | |_) |
 \___/ \_/\_/    \_/\_/    \_/\_/ |_|\__,_|_.__/ 

http://themeforest.net/user/owwwlab/
                                          
-->
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/WebPage">
  <!-- #####Begin head-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- globalise scripting and styling content language-->
    <meta name="Content-Type-Script" content="text/javascript">
    <meta name="Content-Type-Style" content="text/css">
    <!-- author of this doc-->
    <meta name="author" content="owwwlab.com">
    <!-- ################################-->
    <!-- #### add SEO metadata here-->
    <!-- ################################-->
    <!-- #####Begin styles-->
    <!-- stylesheets	-->
    <link href="assets/css/vendors/vendors.css" rel="stylesheet" type="text/css">
    <!-- Load extra page specific css-->
    <!-- Overwrite vendors-->
    <link href="assets/css/vendors/vendors-overwrites.css" rel="stylesheet" type="text/css">
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css">
    <link href="assets/css/demo4.css" rel="stylesheet" type="text/css">
    <!-- #####End styles-->
    <!-- #####Begin JS-->
    <!-- add your scripts to the end of the page for sake of page load speed-->
    <!-- scripts that need to be at head section-->
    <script src="assets/js/vendors/jquery.min.js"></script>
    <!-- #####End JS-->
    <!-- #####Begin load google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Sintony:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,200,300,400italic,500,700,900&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <!-- #####End load google fonts-->
    <title>Publications - CHAOS HTML Template</title>
  </head>
  <!-- #####End head-->
  <body class="fullwidth sticky-header">
    <div id="wrapper" class="regular-layout">
      <!-- #####Begin Header-->
      <header id="header" class=" dark">
        <div class="head-main">
          <div class="container">
            <!-- logo-->
            <!-- #####Begin logo wrapper-->
            <div class="logo-wrapper">
              <!-- standard Logo--><a href="index.html"><img src="assets/img/logo/logo-light.png" alt="CHAOS HTML Template" class="logo-light ol-retina"><img src="assets/img/logo/logo-dark.png" alt="CHAOS HTML Template" class="logo-dark ol-retina"></a>
            </div>
            <!-- #####End logo wrapper-->
            <!-- primary navigation-->
            <ul id="primary-menu">
              <li><a href="index.html" title="Home"><span>Home</span></a>
              </li>
              <li class="menu-item-has-children"><a href="about.html" title="About"><span>About</span></a>
                <ul class="sub-menu">
                  <li><a href="about.html" title="About us"><span>About us</span></a>
                  </li>
                  <li><a href="about-history.html" title="Our History"><span>Our History</span></a>
                  </li>
                  <li><a href="about-people.html" title="People Directory"><span>People Directory</span></a>
                  </li>
                </ul>
              </li>
              <li class="current-menu-item menu-item-has-children"><a href="publications.html" title="Publications"><span>Publications</span></a>
                <ul class="sub-menu">
                  <li><a href="publications.html" title="Publications list"><span>Publications list</span></a>
                  </li>
                  <li><a href="pub-periodicals.html" title="Periodicals"><span>Periodicals</span></a>
                  </li>
                  <li><a href="pub-papers.html" title="Peer reviewed articles"><span>Peer reviewed articles</span></a>
                  </li>
                </ul>
              </li>
              <li><a href="research.html" title="Research"><span>Research</span></a>
              </li>
              <li><a href="news.html" title="News"><span>News</span></a>
              </li>
              <li class="menu-item-has-children to-left"><a href="events.html" title="Events"><span>Events</span></a>
                <ul class="sub-menu">
                  <li><a href="events.html" title="Events"><span>Events</span></a>
                  </li>
                  <li><a href="events-single.html" title="Single Event"><span>Single Event</span></a>
                  </li>
                </ul>
              </li>
              <li><a href="contact.html" title="Contact"><span>Contact</span></a>
              </li>
            </ul>
            <div class="header-icons">
              <!-- #####Begin trigger for search-->
              <div class="search ol-search-trigger simple"><a href="#"><i class="oli oli-search"></i></a>
                <div class="search-area">
                  <div class="search-bar-wrapper">
                    <form role="form">
                      <input id="searchq" type="search" name="searchq" placeholder="Search..." class="form-control">
                    </form>
                  </div>
                </div>
              </div>
              <!-- #####End trigger for search-->
              <!-- #####Begin mobile menu trigger-->
              <div class="ol-mobile-trigger hamburger hamburger--elastic">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
              </div>
              <!-- #####End mobile menu trigger-->
            </div>
          </div>
        </div>
      </header>
      <!-- #####End Header-->
      <!-- #####Begin contents-->
      <section id="contents">
        <!-- #####Begin page head-->
        <div class="page-head h-600 parallax-layer center-it dark ov-blue-alpha-30" data-img-src="assets/img/bg/007.jpg" data-parallax-mode="mode-title">
          <div class="container">
            <div class="tb-vcenter-wrapper">
              <div class="title-wrapper vcenter">
                <h4 class="head">OUR CONTRIBUTIONS</h4>
                <h1 class="title">Publications</h1>
              </div>
              <div class="breadcrumb-wrapper vcenter">
                <ul class="breadcrumb">
                  <li><a href="#"><i class="oli oli-home"></i></a></li>
                  <li><a href="#">publication</a></li>
                  <li><a href="#">publication type</a></li>
                  <li>learning environment</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- #####End page head
        -->
        <section class="page-contents">
          <!-- #####Begin main area-->
          <section id="main-area">
            <section class="slim-container">
              <div class="container">
                <!-- #####Begin summary box-->
                <div data-img-src="assets/img/bg/008.jpg" class="summary-box parallax-layer pull-up-200"><i class="oli oli-rocket"></i>
                  <!-- #####Begin carousel-->
                  <ul data-cols-lg="4" data-cols-md="4" data-cols-sm="3" data-cols-xs="2" data-cols-xxs="1" data-margin="40" data-nav="false" data-loop="false" class="summaries owl-carousel items owwwlab-theme">
                    <li class="item"><a href="#">
                        <div class="number">1235</div>
                        <div class="title">Journal Articles</div></a></li>
                    <li class="item"><a href="#">
                        <div class="number">936</div>
                        <div class="title">Book Chapters</div></a></li>
                    <li class="item"><a href="#">
                        <div class="number">20k</div>
                        <div class="title">Reports</div></a></li>
                    <li class="item"><a href="#">
                        <div class="number">987</div>
                        <div class="title">Technical Papers</div></a></li>
                    <li class="item"><a href="#">
                        <div class="number">453</div>
                        <div class="title">Another Category</div></a></li>
                    <li class="item"><a href="#">
                        <div class="number">23</div>
                        <div class="title">Awesome Category</div></a></li>
                  </ul>
                  <!-- #####End carousel-->
                </div>
                <!-- #####End summary box-->
              </div>
            </section>
            <section class="section">
              <div class="container">
                <!-- #####Begin heading-->
                <div class="heading-with-sub text-center">
                  <h2 class="title">Periodicals</h2>
                  <h3 class="subtitle">We publish most dedicated periodicals about space and related technologies</h3>
                </div>
                <!-- #####End heading-->
                <div class="sp-blank-30"></div>
                <!-- #####Begin carousel-->
                <div data-cols="4" data-margin="30" data-nav="true" class="owl-carousel items owwwlab-theme nav-top-center">
                  <!-- #####Begin  book element--><a href="#" class="book-el set-bg skin-blue"><img src="assets/img/publications/grid/02.jpg" class="set-me">
                    <div class="contents">
                      <div class="item-meta"><i class="oli oli-bookmark"></i><span class="side-info">12</span></div>
                      <div class="title-wrapper">
                        <h6 class="sub-title">Series:</h6>
                        <h2 class="title">Adolescent health transition</h2>
                      </div>
                    </div></a>
                  <!-- #####End  book element-->
                  <!-- #####Begin  book element--><a href="#" class="book-el set-bg skin-purple"><img src="assets/img/publications/grid/02.jpg" class="set-me">
                    <div class="contents">
                      <div class="item-meta"><i class="oli oli-bookmark"></i><span class="side-info">215</span></div>
                      <div class="title-wrapper">
                        <h6 class="sub-title">Series:</h6>
                        <h2 class="title">Quantom Physics</h2>
                      </div>
                    </div></a>
                  <!-- #####End  book element-->
                  <!-- #####Begin  book element--><a href="#" class="book-el set-bg skin-yellow"><img src="assets/img/publications/grid/03.jpg" class="set-me">
                    <div class="contents">
                      <div class="item-meta"><i class="oli oli-bookmark"></i><span class="side-info">12</span></div>
                      <div class="title-wrapper">
                        <h6 class="sub-title">Series:</h6>
                        <h2 class="title">Resistance Spot Welding</h2>
                      </div>
                    </div></a>
                  <!-- #####End  book element-->
                  <!-- #####Begin  book element--><a href="#" class="book-el set-bg skin-green"><img src="assets/img/publications/grid/01.jpg" class="set-me">
                    <div class="contents">
                      <div class="item-meta"><i class="oli oli-bookmark"></i><span class="side-info">126</span></div>
                      <div class="title-wrapper">
                        <h6 class="sub-title">Series:</h6>
                        <h2 class="title">American Society of Mechaniucal Engineering Review</h2>
                      </div>
                    </div></a>
                  <!-- #####End  book element-->
                  <!-- #####Begin  book element--><a href="#" class="book-el set-bg skin-yellow"><img src="assets/img/publications/grid/04.jpg" class="set-me">
                    <div class="contents">
                      <div class="item-meta"><i class="oli oli-bookmark"></i><span class="side-info">65</span></div>
                      <div class="title-wrapper">
                        <h6 class="sub-title">Series:</h6>
                        <h2 class="title">psychology</h2>
                      </div>
                    </div></a>
                  <!-- #####End  book element-->
                </div>
                <!-- #####End carousel-->
              </div>
            </section>
            <section class="section bg-pattern">
              <div class="container">
                <!-- #####Begin heading-->
                <div class="heading-with-sub m-bottom-40">
                  <h3 class="title">Annual Reports</h3>
                  <h4 class="subtitle">Providing Technical and Analytical Expertise to Space Programs in Service of the National Interest</h4>
                </div>
                <!-- #####End heading-->
                <!-- #####Begin row with multiple columns-->
                <div class="row multi-columns-row col-margin-bottom-30">
                  <div class="col-md-3"><a href="#" class="ol-iconic-link skin-green size-tall"><i class="oli oli-linegraph"></i>Annual Report 2015</a></div>
                  <div class="col-md-3"><a href="#" class="ol-iconic-link skin-green size-tall"><i class="oli oli-linegraph"></i>Annual Report 2015</a></div>
                  <div class="col-md-3"><a href="#" class="ol-iconic-link skin-green size-tall"><i class="oli oli-linegraph"></i>Annual Report 2015</a></div>
                  <div class="col-md-3"><a href="#" class="ol-iconic-link skin-green size-tall"><i class="oli oli-linegraph"></i>Annual Report 2015</a></div>
                  <div class="col-md-3"><a href="#" class="ol-iconic-link skin-green size-tall"><i class="oli oli-linegraph"></i>Annual Report 2015</a></div>
                  <div class="col-md-3"><a href="#" class="ol-iconic-link skin-green size-tall"><i class="oli oli-linegraph"></i>Annual Report 2015</a></div>
                  <div class="col-md-3"><a href="#" class="ol-iconic-link skin-green size-tall"><i class="oli oli-linegraph"></i>Annual Report 2015</a></div>
                  <div class="col-md-3"><a href="#" class="ol-iconic-link skin-green size-tall"><i class="oli oli-linegraph"></i>Annual Report 2015</a></div>
                </div>
                <!-- #####End row with multiple columns-->
              </div>
            </section>
            <section class="section bg-gray">
              <div class="container">
                <div class="row">
                  <div class="col-md-6"><img src="assets/img/bg/journal01.png"></div>
                  <div class="col-md-6">
                    <!-- #####Begin heading-->
                    <div class="heading-with-sub m-bottom-40">
                      <h3 class="title">Pear Reviewed Publications</h3>
                      <h4 class="subtitle">Jounal papers, conference papers and reviewed articles</h4>
                    </div>
                    <!-- #####End heading-->
                    <p class="m-bottom-40">Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis.</p><a href="#" class="btn btn-skin-red btn-circle btn-wide btn-small">Read more</a>
                  </div>
                </div>
              </div>
            </section>
            <section class="section bg-pattern-3">
              <div class="container">
                <div class="row">
                  <div class="col-md-6"><img src="assets/img/bg/journal02.png"></div>
                  <div class="col-md-6">
                    <!-- #####Begin heading-->
                    <div class="heading-with-sub m-bottom-40">
                      <h3 class="title">Pear Reviewed Publications</h3>
                      <h4 class="subtitle">Jounal papers, conference papers and reviewed articles</h4>
                    </div>
                    <!-- #####End heading-->
                    <p class="m-bottom-40">Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis.</p><a href="#" class="btn btn-skin-red btn-circle btn-wide btn-small">Read more</a>
                  </div>
                </div>
              </div>
            </section>
          </section>
          <!-- #####End main area
          -->
          <div class="clearfix"></div>
        </section>
      </section>
      <!-- #####End contents-->
      <footer id="footer" data-img-src="assets/img/bg/002.png" class="set-bg">
        <div class="container">
          <div class="sp-shadow-line-0 footer-shadow"></div>
        </div>
        <div id="footer-main">
          <div class="container">
            <div class="row">
              <div class="col-md-5 col-sm-12 m-bottom-sm-40"><a href="#" class="img"><img src="assets/img/logo/logo-light.png" alt="CHAOS HTML Template"></a>
                <div class="sp-blank-30"></div>
                <p>CHAOS is an HTML/CSS/JS template designed by owwwlab team wishing to help academic and scientific websites build modern pages with elegant design.</p>
                <ul class="social-icons shape-circle">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
              </div>
              <div class="col-md-3 col-md-offset-1 col-sm-6">
                <div class="widget">
                  <h4>Information for</h4>
                  <div class="links">
                    <ul>
                      <li><a href="#">Alumni</a></li>
                      <li><a href="#">Entrepreneurs</a></li>
                      <li><a href="#">Current students</a></li>
                      <li><a href="#">Faculty and staff</a></li>
                      <li><a href="#">Future students</a></li>
                      <li><a href="#">Fellowship students</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="widget">
                  <h4>Usefull links</h4>
                  <div class="links">
                    <ul>
                      <li><a href="#">Admission & Aid</a></li>
                      <li><a href="#">Accessibility</a></li>
                      <li><a href="#">Academics</a></li>
                      <li><a href="#">Research</a></li>
                      <li><a href="#">Campus Life</a></li>
                      <li><a href="#">Library</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="footer-bar">
          <div class="container">
            <div class="row tb-vcenter-wrapper bottom-bar">
              <div class="col-sm-6 vcenter">
                <div class="copyright">OWWWLAB 2015.</div>
                <div class="promo">Built with love & care for Academic People</div>
              </div>
              <div class="col-sm-6 vcenter">
                <ul class="footer-menu text-right-md">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Admission</a></li>
                  <li><a href="#">Staff</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- #####Begin scripts-->
    <script src="assets/js/vendors/vendors.js"></script>
    <!-- Local Revolution tools-->
    <!-- Only for local and can be removed on server-->
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <!-- #####End scripts-->
  </body>
</html>