<!DOCTYPE html>
<!--
                                   _       _   
								  | |     | |    
  Designed and Coded By           | | __ _| |__  
 / _ \ \ /\ / /\ \ /\ / /\ \ /\ / / |/ _` | '_ \ 
| (_) \ V  V /  \ V  V /  \ V  V /| | (_| | |_) |
 \___/ \_/\_/    \_/\_/    \_/\_/ |_|\__,_|_.__/ 

http://themeforest.net/user/owwwlab/
                                          
-->
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/WebPage">
  <!-- #####Begin head-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- globalise scripting and styling content language-->
    <meta name="Content-Type-Script" content="text/javascript">
    <meta name="Content-Type-Style" content="text/css">
    <!-- author of this doc-->
    <meta name="author" content="owwwlab.com">
    <!-- ################################-->
    <!-- #### add SEO metadata here-->
    <!-- ################################-->
    <!-- #####Begin styles-->
    <!-- stylesheets	-->
    <link href="assets/css/vendors/vendors.css" rel="stylesheet" type="text/css">
    <!-- Load extra page specific css-->
    <!-- Overwrite vendors-->
    <link href="assets/css/vendors/vendors-overwrites.css" rel="stylesheet" type="text/css">
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css">
    <link href="assets/css/demo1.css" rel="stylesheet" type="text/css">
    <!-- #####End styles-->
    <!-- #####Begin JS-->
    <!-- add your scripts to the end of the page for sake of page load speed-->
    <!-- scripts that need to be at head section-->
    <script src="assets/js/vendors/jquery.min.js"></script>
    <!-- #####End JS-->
    <!-- #####Begin load google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Sintony:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,200,300,400italic,500,700,900&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <!-- #####End load google fonts-->
    <title>contact - CHAOS HTML Template</title>
  </head>
  <!-- #####End head-->
  <body class="fullwidth sticky-header">
    <div id="wrapper" class="regular-layout">
      <!-- #####Begin Header-->
      <header id="header" class="nav-light full-width">
        <div class="head-main">
          <div class="container">
            <div class="logo-wrapper">
              <!-- standard Logo--><a href="index.html" class="standard-logo text-logo"><img src="assets/img/avatar.jpg" alt="Dr. Chaos Mctabi">
                <div class="text-wrapper">
                  <h1 class="title">Dr Chaos <span>McTabi</span></h1>
                </div></a>
            </div>
            <!-- primary navigation-->
            <ul id="primary-menu">
              <li><a href="index.html" title="Home"><span>Home</span></a>
              </li>
              <li><a href="publications.html" title="Publications"><span>Publications</span></a>
              </li>
              <li><a href="research.html" title="Research"><span>Research</span></a>
              </li>
              <li><a href="students.html" title="Students"><span>Students</span></a>
              </li>
              <li><a href="teaching.html" title="Teaching"><span>Teaching</span></a>
              </li>
              <li><a href="blog.html" title="Blog"><span>Blog</span></a>
              </li>
              <li class="current-menu-item"><a href="contact.html" title="Contact"><span>Contact</span></a>
              </li>
            </ul>
            <!-- #####Begin icons beside menu-->
            <div class="header-icons">
              <!-- #####Begin mobile menu trigger-->
              <div class="ol-mobile-trigger hamburger hamburger--elastic">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
              </div>
              <!-- #####End mobile menu trigger-->
            </div>
          </div>
        </div>
      </header>
      <!-- #####End Header-->
      <!-- #####Begin contents-->
      <section id="contents">
        <!-- #####Begin page head-->
        <div class="page-head h-500 center-it parallax-layer dark ov-grad8-alpha-80" data-img-src="assets/img/bg/07.jpg" data-parallax-mode="mode-title">
          <div class="container">
            <div class="tb-vcenter-wrapper">
              <div class="title-wrapper vcenter">
                <h1 class="title">contact</h1>
                <h2 class="description">Simple Lists are great way to display your publications to visitors, here is a simple list shows vaiations of this grid elements.</h2>
              </div>
              <div class="breadcrumb-wrapper vcenter">
                <ul class="breadcrumb">
                  <li><a href="#"><i class="oli oli-home"></i></a></li>
                  <li><a href="#">publication</a></li>
                  <li><a href="#">publication type</a></li>
                  <li>learning environment</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- #####End page head
        -->
        <section class="page-contents">
          <!-- #####Begin main area-->
          <section id="main-area">
            <section class="section section-narrow-2 slim-container">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="ol-accordion">
                      <div class="ac-item open">
                        <div class="item-head"><i class="icon oi-plus"></i><span>Postal Address</span></div>
                        <div class="item-body">
                          <p>
                             
                            PO Box 88900 Collins Street West Victoria 5433 AustraliaLorem ipsum dolor sit amet. Elit justo auctor fermentum neque curabitur per colus urna risus. Gravida justo posuere accumsan etiam iaculis ornare adipiscing netus eros. Rutrum sem justo at nibh metus aenean elementum vulputate felis tortor id ornare placerat lectus lectus curabitur laoreet elementum.
                          </p>
                          <p>Lorem ipsum dolor sit amet. Arcu lectus sodales enim aenean mauris et torquent nostra porttitor felis justo lobortis nulla eget aliquam dictum nec consequat fringilla.
                          </p>
                        </div>
                      </div>
                      <div class="ac-item">
                        <div class="item-head"><i class="icon oi-plus"></i><span>Office</span></div>
                        <div class="item-body">
                          <p>Cambridge, MA 02138, United States</p>
                        </div>
                      </div>
                      <div class="ac-item">
                        <div class="item-head"><span>Phone</span></div>
                        <div class="item-body">
                          <p> </p>023 434 534 234</br>
                          CHAOS Interal: 32231</br>
                          International: +44 34 2332 7568
                        </div>
                      </div>
                      <div class="ac-item">
                        <div class="item-head"><span>Fax</span></div>
                        <div class="item-body">
                          <p> </p>023 434 534 234</br>
                          CHAOS Interal: 32231</br>
                          International: +44 34 2332 7568
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="heading-with-sub">
                      <h3 class="title">Contact Me</h3>
                      <h4 class="subtitle">You my wait for a couple of days</h4>
                    </div>
                    <form id="contact-form" action="php/contact/contact.php">
                      <label for="name">Name</label>
                      <input type="text" name="name" class="m-bottom-20 form-control">
                      <label for="email">Email</label>
                      <input type="email" name="email" class="m-bottom-20 form-control">
                      <label for="subject">Subject</label>
                      <input type="text" name="subject" class="m-bottom-20 form-control">
                      <label>Message</label>
                      <textarea rows="6" type="textarea" name="message" class="m-bottom-20 form-control"></textarea>
                      <input type="submit" value="Send it" class="btn btn-medium btn-skin-dark btn-thick-border btn-block">
                    </form>
                  </div>
                </div>
              </div>
            </section>
          </section>
          <!-- #####End main area
          -->
          <div class="clearfix"></div>
        </section>
      </section>
      <!-- #####End contents-->
      <footer id="footer">
        <div id="footer-main" class="text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="heading-with-sub m-bottom-50">
                  <h3 class="title sans-font m-bottom-30">Dr. Chaos McTabi</h3>
                  <h4 class="subtitle">If you're looking for information about the lab you can contact us using the contact details listed below.</h4>
                </div>
                <div class="sp-line-0"></div>
                <ul class="m-top-30 social-icons shape-circle skin-white hover-dark">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- #####Begin scripts-->
    <script src="assets/js/vendors/vendors.js"></script>
    <!-- Local Revolution tools-->
    <!-- Only for local and can be removed on server-->
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <!-- #####End scripts-->
  </body>
</html>