<!DOCTYPE html>
<!--
                                   _       _   
								  | |     | |    
  Designed and Coded By           | | __ _| |__  
 / _ \ \ /\ / /\ \ /\ / /\ \ /\ / / |/ _` | '_ \ 
| (_) \ V  V /  \ V  V /  \ V  V /| | (_| | |_) |
 \___/ \_/\_/    \_/\_/    \_/\_/ |_|\__,_|_.__/ 

http://themeforest.net/user/owwwlab/
                                          
-->
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/WebPage">
  <!-- #####Begin head-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- globalise scripting and styling content language-->
    <meta name="Content-Type-Script" content="text/javascript">
    <meta name="Content-Type-Style" content="text/css">
    <!-- author of this doc-->
    <meta name="author" content="owwwlab.com">
    <!-- ################################-->
    <!-- #### add SEO metadata here-->
    <!-- ################################-->
    <meta name="description" content="Chaos is a premium HTML template driven from academic needs to fulfil design requirements for typical academic websites such as, faculty priofile, students and staff directory, events, conferences, seminar, research laboratories, etc.">
    <meta itemprop="name" content="Chaos Academic Driven Multipurpose HTML Template">
    <meta itemprop="description" content="Chaos is a premium HTML template driven from academic needs to fulfil design requirements for typical academic websites such as, faculty priofile, students and staff directory, events, conferences, seminar, research laboratories, etc.">
    <meta itemprop="image" content="http://chaos.owwwlab.com/public-images/chaos-banner.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@owwwlab">
    <meta name="twitter:creator" content="@owwwlab">
    <meta name="twitter:title" content="Chaos Academic Driven Multipurpose HTML Template">
    <meta name="twitter:description" content="Chaos is a premium HTML template driven from academic needs to fulfil design requirements for typical academic websites such as, faculty priofile, students and staff directory, events, conferences, seminar, research laboratories, etc.">
    <meta name="twitter:image:src" content="http://chaos.owwwlab.com/public-images/chaos-banner.jpg">
    <meta property="og:title" content="Chaos Academic Driven Multipurpose HTML Template">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://chaos.owwwlab.com/">
    <meta property="og:image" content="http://chaos.owwwlab.com/public-images/chaos-banner.jpg">
    <meta property="og:description" content="Chaos is a premium HTML template driven from academic needs to fulfil design requirements for typical academic websites such as, faculty priofile, students and staff directory, events, conferences, seminar, research laboratories, etc.">
    <meta property="og:site_name" content="owwwlab">
    <!-- #####Begin styles-->
    <!-- stylesheets	-->
    <link href="assets/css/vendors/vendors.css" rel="stylesheet" type="text/css">
    <!-- Load extra page specific css-->
    <!-- Overwrite vendors-->
    <link href="assets/css/vendors/vendors-overwrites.css" rel="stylesheet" type="text/css">
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css">
    <link href="assets/css/index.css" rel="stylesheet" type="text/css">
    <!-- #####End styles-->
    <!-- #####Begin JS-->
    <!-- add your scripts to the end of the page for sake of page load speed-->
    <!-- scripts that need to be at head section-->
    <script src="assets/js/vendors/jquery.min.js"></script>
    <!-- #####End JS-->
    <!-- #####Begin load google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic:&amp;subset=" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Ruda:400,700,900&amp;subset=" rel="stylesheet" type="text/css">
    <!-- #####End load google fonts-->
    <title>Chaos - Academic Driven Multipurpose HTML Template</title>
  </head>
  <!-- #####End head-->
  <body class="fullwidth sticky-header">
    <div id="wrapper" class="regular-layout">
      <header id="header" data-gumshoe-header class=" trans">
        <div class="head-main">
          <div class="container">
            <div class="logo-wrapper">
              <!-- standard Logo--><a href="index.html" class="hidden-sticky"><img src="assets/img/logo/logo-light.png" alt="Academic Driven Multipurpose HTML Template" class="logo-light ol-retina"><img src="assets/img/logo/logo-dark.png" alt="Academic Driven Multipurpose HTML Template" class="logo-dark ol-retina"></a><a href="index.html" class="visible-sticky"><img src="assets/img/logo/logo-chaos.png" alt="Academic Driven Multipurpose HTML Template" class="logo-chaos ol-retina"></a>
            </div>
            <!-- primary navigation-->
            <ul id="primary-menu" data-gumshoe>
              <li><a href="#index_head" title="Home" data-scroll=""><span>Home</span></a>
              </li>
              <li><a href="#index_demos" title="Demos" data-scroll=""><span>Demos</span></a>
              </li>
              <li><a href="#index_pages" title="Pages" data-scroll=""><span>Pages</span></a>
              </li>
              <li class="nav-btn"><a href="http://themeforest.net/item/chaos-academic-driven-multipurpose-template/16297747?ref=owwwlab" title="Purchase $20"><span>Purchase $20</span></a>
              </li>
            </ul>
            <!--etc-->
            <div class="header-icons">
              <!-- #####Begin mobile menu trigger-->
              <div class="ol-mobile-trigger hamburger hamburger--elastic">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
              </div>
              <!-- #####End mobile menu trigger-->
            </div>
          </div>
        </div>
      </header>
      <!-- end #header-->
      <section id="contents">
        <div id="index_head" data-img-src="assets/img/bg/01.jpg" class="page-head parallax-layer full-screen bg-gray">
          <div class="container">
            <div class="tb-vcenter-wrapper">
              <div class="vcenter text-center">
                <h1 class="intro-title">Chaos</h1>
                <h2 class="intro-subtitle">Academic Driven <br> Multi-Purpose HTML Template</h2>
                <div class="intro-buttons"><a data-scroll href="#index_demos" class="btn btn-large btn-circle btn-skin-white">Choose your demo</a><a href="http://themeforest.net/item/chaos-academic-driven-multipurpose-template/16297747?ref=owwwlab" class="btn btn-circle btn-large btn-skin-yellow">Purchase Now - $20</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-contents">
          <!-- #####Begin main area-->
          <section id="main-area">
            <section class="bg-darkgray slim-container p-bottom-50 p-bottom-xs-30 p-top-50 p-top-xs-30">
              <div class="container">
                <ul class="index-features">
                  <li><span class="upper">120+</span><span class="sub">Components</span></li>
                  <li><span class="upper">26+</span><span class="sub">Layouts</span></li>
                  <li><span class="upper">300+</span><span class="sub">HTML Pages</span></li>
                  <li><span class="upper">12+</span><span class="sub">Pre-Built Demos</span></li>
                </ul>
              </div>
            </section>
            <!-- demos-->
            <section id="index_demos" class="section bg-gray slim-container p-bottom-0">
              <div class="container">
                <div class="section-head">
                  <h2 class="title">Demos</h2>
                  <h3 class="subtitle">Full websites</h3>
                </div>
                <div class="section-lead">
                  <p>CHAOS - perfect, elegant and bright HTML template with lots of functional elements which are designed and polished for academic websites. </p>
                </div>
              </div>
              <div class="container p-right-100 p-left-100">
                <!-- main demo-->
                <div class="demo-item m-bottom-80 m-bottom-xs-30"><a href="../main/index.html" target="_blank"><img alt="alt image" src="assets/img/demos/main.jpg" class="demo-thumb pull-right"></a>
                  <div class="demo-info abs-left bottom text-right">
                    <h3 class="title">Main Demo</h3>
                    <p>This is the main demo of the template, a full feature demo that contains all elements and variations.</p><a href="../main/index.html" target="_blank" class="btn btn-medium btn-circle">Explore</a>
                  </div>
                </div>
                <h2 class="separator-title"> <span>Niche Demos</span></h2>
                <div class="row multi-columns-row col-margin-bottom-40">
                  <div class="col-md-6"><a href="../demo6/index.html" target="_blank" class="demo-box-item"><img src="assets/img/demos/00.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Seminar & Conference</h3>
                        <h4 class="subtitle">Conference, Seminar, Workshop, etc</h4>
                      </div></a></div>
                  <div class="col-md-6"><a href="../demo3/index.html" target="_blank" class="demo-box-item"><img src="assets/img/demos/03.jpg" title="demo 4">
                      <div class="description">
                        <h3 class="title">Personal Website</h3>
                        <h4 class="subtitle">Creative profile, Staff, Faculty</h4>
                      </div></a></div>
                  <div class="col-md-6"><a href="../demo5/index.html" target="_blank" class="demo-box-item"><img src="assets/img/demos/02.jpg" title="demo 2">
                      <div class="description">
                        <h3 class="title">Laboratory</h3>
                        <h4 class="subtitle">Clinics, organizations, Group, etc.</h4>
                      </div></a></div>
                  <div class="col-md-6"><a href="../demo4/index.html" target="_blank" class="demo-box-item"><img src="assets/img/demos/01.jpg" title="demo 3">
                      <div class="description">
                        <h3 class="title">Institution</h3>
                        <h4 class="subtitle">Agency, Department, Boards, etc</h4>
                      </div></a></div>
                  <div class="col-md-6"><a href="../demo2/index.html" target="_blank" class="demo-box-item"><img src="assets/img/demos/04.jpg" title="demo 5">
                      <div class="description">
                        <h3 class="title">Personal #2</h3>
                        <h4 class="subtitle">PhD Candidates.</h4>
                      </div></a></div>
                  <div class="col-md-6"><a href="../demo1/index.html" target="_blank" class="demo-box-item"><img src="assets/img/demos/05.jpg" title="demo 6">
                      <div class="description">
                        <h3 class="title">Personal #3</h3>
                        <h4 class="subtitle">Simple and minimal</h4>
                      </div></a></div>
                  <div class="col-md-6"><a href="#" class="demo-box-item"><img src="assets/img/pages/soon.jpg" title="demo 5">
                      <div class="description">
                        <h3 class="title">Medical Clinic</h3>
                        <h4 class="subtitle">Coming Soon...</h4>
                      </div></a></div>
                  <div class="col-md-6"><a href="#" class="demo-box-item"><img src="assets/img/pages/soon2.jpg" title="demo 6">
                      <div class="description">
                        <h3 class="title">Instructor & Courses</h3>
                        <h4 class="subtitle">Coming Soon...</h4>
                      </div></a></div>
                </div>
              </div>
            </section>
            <!-- pages -->
            <section id="index_pages" class="with-rotated-bg bg-gray slim-container">
              <div class="rotated-wrapper">
                <div data-img-src="assets/img/bg/03.jpg" class="ov-yellow-alpha-70 img-layer parallax-layer"></div>
              </div>
              <div class="inner-wrapper">
                <div data-400-center-center="transform[sqrt]:translate3d(0%,0px,0)" data-0-bottom-top="transform[sqrt]:translate3d(5%,0px,0);" class="container">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="section-head skin-dark">
                        <h2 class="title">Homepages</h2>
                        <h3 class="subtitle">and featured pages</h3>
                        <p class="m-top-30">Pages that you want to look at,<br> including homepages, directories, etc.</p>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="icon-box ib-v1 m-bottom-50 m-top-50 m-bottom-xs-30 m-top-xs-30"><i class="oli oli-layers"></i>
                        <h3 class="title">Ready to Use</h3>
                        <p>Just copy and paste the code<br> and you have it all!</p>
                      </div>
                      <div class="icon-box ib-v1"><i class="oli oli-layers"></i>
                        <h3 class="title">Research Driven</h3>
                        <p>We continually are conducting <br>research on academic websites needs.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- pages body-->
            <section class="bg-gray slim-container ov-visible">
              <div class="container">
                <h2 class="separator-title text-left"><span>Homepages </span></h2>
                <div class="row multi-columns-row col-margin-bottom-40">
                  <div class="col-md-4"><a href="../main/homepages/home-8.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/01.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Book Landing Page</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/homepages/home-9.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/02.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Home - Courses</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/homepages/home-6.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/03.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Home - Portfolio</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/homepages/home-7.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/04.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Home - Portfolio 2</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/homepages/home-5.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/05.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Home - Laboratory 1</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/homepages/home-1.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/06.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Home - Laboratory 2</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/homepages/home-3.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/07.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Home - Laboratory 3</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/homepages/home-2.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/08.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Home - General 1</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/homepages/home-4.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/09.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Home - General 2</h3>
                      </div></a></div>
                </div>
                <h2 class="separator-title text-left m-top-20"><span>Publications </span></h2>
                <div class="row multi-columns-row col-margin-bottom-40">
                  <div class="col-md-4"><a href="../main/academia/publications/pub-series-1.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/17.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Publication Series</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/academia/publications/pub-list-2.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/12.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Publications Directory 1</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/academia/publications/pub-list-3.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/13.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Publications Directory 2</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/academia/publications/pub-list-5.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/10.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Publications Directory 3</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/academia/publications/pub-single.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/20.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Publications Single</h3>
                      </div></a></div>
                </div>
                <h2 class="separator-title text-left m-top-20"><span>People & Staff </span></h2>
                <div class="row multi-columns-row col-margin-bottom-40">
                  <div class="col-md-4"><a href="../main/academia/people/list-2.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/11.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">People Directory 1</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/academia/people/list-3.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/21.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">People Directory 2</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/academia/people/list-1.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/22.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">People Directory 3</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/academia/people/list-7.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/24.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">People Directory 4</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/academia/people/single-1.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/15.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Faculty Profile 1</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/academia/people/single-2.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/25.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Faculty Profile 2</h3>
                      </div></a></div>
                </div>
                <h2 class="separator-title text-left m-top-20"><span>Courses </span></h2>
                <div class="row multi-columns-row col-margin-bottom-40">
                  <div class="col-md-4"><a href="../main/courses/course-grid.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/12.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Course Directory 1</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/courses/course-regular-list.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/26.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Course Directory 2</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/courses/course-single.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/27.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Single Course</h3>
                      </div></a></div>
                </div>
                <h2 class="separator-title text-left m-top-20"><span>Events </span></h2>
                <div class="row multi-columns-row col-margin-bottom-40">
                  <div class="col-md-4"><a href="../main/academia/events/events-list-1.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/13.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Events Directory 1</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/academia/events/events-list-3.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/28.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Events Directory 2</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/academia/events/events-single-2.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/14.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Seminar Page</h3>
                      </div></a></div>
                </div>
                <h2 class="separator-title text-left m-top-20"><span>Projects & Portfolio </span></h2>
                <div class="row multi-columns-row col-margin-bottom-40">
                  <div class="col-md-4"><a href="../main/portfolio/portfolio-grid-3.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/29.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Projects Directory</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/portfolio/portfolio-single-simple.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/30.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Single Project</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/portfolio/portfolio-masonry-fullwidth.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/31.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Masonry Layout</h3>
                      </div></a></div>
                </div>
                <h2 class="separator-title text-left m-top-20"><span>Blog & News </span></h2>
                <div class="row multi-columns-row col-margin-bottom-40">
                  <div class="col-md-4"><a href="../main/news/news-list-5.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/32.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Blog List 1</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/news/news-list-3.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/33.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Blog List 2</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/news/news-list-3.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/34.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Single Post</h3>
                      </div></a></div>
                </div>
                <h2 class="separator-title text-left m-top-20"><span>Shop</span></h2>
                <div class="row multi-columns-row col-margin-bottom-40">
                  <div class="col-md-4"><a href="../main/shop/shop-list-2col.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/35.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Shop List 1</h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/shop/shop-list-3col.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/36.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Shop List 2 </h3>
                      </div></a></div>
                  <div class="col-md-4"><a href="../main/shop/shop-single.html" target="_blank" class="demo-box-item stand"><img src="assets/img/pages/37.jpg" title="demo 1">
                      <div class="description">
                        <h3 class="title">Single Product</h3>
                      </div></a></div>
                </div>
                <div class="sp-blank-80"></div>
              </div>
            </section>
          </section>
          <!-- #####End main area
          -->
          <div class="clearfix"></div>
        </div>
      </section>
      <!-- end #contents-->
      <section><i class="fa fa-envelope-o nl-icon"></i></section>
      <section id="index_subscribe" data-img-src="assets/img/bg/002.png" class="section set-bg ov-light-alpha-20 slim-container">
        <div class="container">
          <div class="sp-blank-100 sp-blank-sm-50"></div>
          <div class="tb-vcenter-wrapper">
            <div class="vcenter">
              <div class="nl-wrapper">
                <div class="nl-logo"><img src="assets/img/logo/nl-logo.png" alt="image alt" class="ol-retina"></div>
                <div class="nl-form-wrapper">
                  <div class="nl-form text-center">
                    <h3 class="title">Looking for WordPress Theme?</h3>
                    <p>Join the Mailing List, will keep you posted!</p>
                    <form id="mc-embedded-subscribe-form" action="//themeforest.us8.list-manage.com/subscribe/post?u=62a25d44f0759316aa094e3ac&amp;id=4e44be835a" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="" class="validate">
                      <div class="inner-wrapper">
                        <input id="mce-EMAIL" type="email" value="" name="EMAIL" placeholder="Your Email Here..." class="required email">
                        <input id="mc-embedded-subscribe" type="submit" value="Subscribe" name="subscribe" class="btn btn-medium btn-circle btn-skin-blue">
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                          <input type="text" name="b_62a25d44f0759316aa094e3ac_4e44be835a" tabindex="-1" value="">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-blank-100 sp-blank-sm-50"></div>
        </div>
      </section>
      <!-- end #footer-->
    </div>
    <!-- #####Begin scripts-->
    <script src="assets/js/vendors/vendors.js"></script>
    <!-- Local Revolution tools-->
    <!-- Only for local and can be removed on server-->
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <script type="text/javascript">
      (function($) {
      	
      	smoothScroll.init();
      	gumshoe.init({
      		activeClass: 'current-menu-item'
      	});
      })(jQuery);
    </script>
    <!-- #####End scripts-->
  </body>
</html>