<!DOCTYPE html>
<!--
                                   _       _   
								  | |     | |    
  Designed and Coded By           | | __ _| |__  
 / _ \ \ /\ / /\ \ /\ / /\ \ /\ / / |/ _` | '_ \ 
| (_) \ V  V /  \ V  V /  \ V  V /| | (_| | |_) |
 \___/ \_/\_/    \_/\_/    \_/\_/ |_|\__,_|_.__/ 

http://themeforest.net/user/owwwlab/
                                          
-->
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/WebPage">
  <!-- #####Begin head-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- globalise scripting and styling content language-->
    <meta name="Content-Type-Script" content="text/javascript">
    <meta name="Content-Type-Style" content="text/css">
    <!-- author of this doc-->
    <meta name="author" content="owwwlab.com">
    <!-- ################################-->
    <!-- #### add SEO metadata here-->
    <!-- ################################-->
    <!-- #####Begin styles-->
    <!-- stylesheets	-->
    <link href="assets/css/vendors/vendors.css" rel="stylesheet" type="text/css">
    <!-- Load extra page specific css-->
    <!-- Overwrite vendors-->
    <link href="assets/css/vendors/vendors-overwrites.css" rel="stylesheet" type="text/css">
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css">
    <link href="assets/css/demo2.css" rel="stylesheet" type="text/css">
    <!-- #####End styles-->
    <!-- #####Begin JS-->
    <!-- add your scripts to the end of the page for sake of page load speed-->
    <!-- scripts that need to be at head section-->
    <script src="assets/js/vendors/jquery.min.js"></script>
    <!-- #####End JS-->
    <!-- #####Begin load google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Sintony:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,200,300,400italic,500,700,900&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <!-- #####End load google fonts-->
    <title>Gallery - CHAOS HTML Template</title>
  </head>
  <!-- #####End head-->
  <body class="fullwidth bg-gray sticky-header">
    <div id="wrapper" class="boxed-layout-padding">
      <header id="header" data-sticky-threshold='-300' class=" light sticky-light">
        <div class="head-main slim-container text-center">
          <div class="logo-wrapper">
            <!-- standard Logo--><a href="index.html" class="standard-logo text-logo"><img src="assets/img/avatar.jpg" alt="Dr. Chaos Mctabi">
              <div class="text-wrapper">
                <h1 class="title">Dr. Chaos McTabi</h1>
                <h2 class="subtitle hidden-sticky">Postdoc Candidate @ Stanford University</h2>
              </div></a>
          </div>
          <!-- primary navigation-->
          <ul id="primary-menu">
            <li><a href="index.html" title="Home"><span>Home</span></a>
            </li>
            <li><a href="publications.html" title="Publications"><span>Publications</span></a>
            </li>
            <li><a href="blog.html" title="Blog"><span>Blog</span></a>
            </li>
            <li class="current-menu-item"><a href="gallery.html" title="Gallery"><span>Gallery</span></a>
            </li>
            <li><a href="contact.html" title="Contact"><span>Contact</span></a>
            </li>
          </ul>
          <!-- #####Begin icons beside menu-->
          <div class="header-icons">
            <!-- #####Begin mobile menu trigger-->
            <div class="ol-mobile-trigger hamburger hamburger--elastic">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
            <!-- #####End mobile menu trigger-->
          </div>
        </div>
      </header>
      <!-- end #header-->
      <section id="contents">
        <!-- handle parallax mods-->
        <div class="page-head h-400 center-it parallax-layer dark" data-img-src="assets/img/page-title-bg-dark-1.jpg" data-parallax-mode="mode-title">
          <div class="container">
            <div class="tb-vcenter-wrapper">
              <div class="title-wrapper vcenter parallax-layer" data-parallax-mode="mode-header-demo-2">
                <h4 class="head">My Awesome</h4>
                <h1 class="title">Gallery</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="page-contents">
          <!-- #####Begin main area-->
          <section id="main-area">
            <section class="section slim-container">
              <div class="container">
                <!-- #####Begin grid filters-->
                <div class="ol-grid-filters">
                  <ul class="default-filters">
                    <li class="active"><a href="#" data-filter="*">Show All</a></li>
                    <li><a href="#" data-filter=".art-work">Artwork</a></li>
                    <li><a href="#" data-filter=".banner">Banner</a></li>
                    <li><a href="#" data-filter=".marketing">Marketing</a></li>
                    <li><a href="#" data-filter=".design">Design</a></li>
                  </ul>
                  <div class="select-filters">
                    <select>
                      <option value="*">Show All</option>
                      <option value=".art-work">Artwork</option>
                      <option value=".banner">Banner</option>
                      <option value=".marketing">Marketing</option>
                      <option value=".design">Design</option>
                    </select>
                  </div>
                </div>
                <!-- #####End grid filters-->
                <div class="ol-grid masonry col-2 with-gutter ol-lightbox-gallery">
                  <!-- #####Begin grid item--><a href="assets/img/gallery/01.jpg" class="grid-item ol-lightbox art-work">
                    <div class="gi-wrapper ol-hover hover-4"><img src="assets/img/gallery/01.jpg" alt="image hover">
                      <div class="ol-overlay ov-grad6-alpha-80"></div>
                      <div class="cover ov-dark-alpha-95"></div>
                      <div class="icons"><i class="oli oli-search"></i></div>
                      <h3 class="title">oftentimes urotoxin</h3>
                      <h4 class="subtitle">Nov 2013</h4>
                    </div></a>
                  <!-- #####End grid item-->
                  <!-- #####Begin grid item--><a href="assets/img/gallery/02.jpg" class="grid-item ol-lightbox banner marketing art-work design">
                    <div class="gi-wrapper ol-hover hover-4"><img src="assets/img/gallery/02.jpg" alt="image hover">
                      <div class="ol-overlay ov-grad6-alpha-80"></div>
                      <div class="cover ov-dark-alpha-95"></div>
                      <div class="icons"><i class="oli oli-search"></i></div>
                      <h3 class="title">forewritten midvein</h3>
                      <h4 class="subtitle">Mar 2016</h4>
                    </div></a>
                  <!-- #####End grid item-->
                  <!-- #####Begin grid item--><a href="assets/img/gallery/03.jpg" class="grid-item ol-lightbox banner design">
                    <div class="gi-wrapper ol-hover hover-4"><img src="assets/img/gallery/03.jpg" alt="image hover">
                      <div class="ol-overlay ov-grad6-alpha-80"></div>
                      <div class="cover ov-dark-alpha-95"></div>
                      <div class="icons"><i class="oli oli-search"></i></div>
                      <h3 class="title">aqueomercurial hypocrisy</h3>
                      <h4 class="subtitle">Jan 2014</h4>
                    </div></a>
                  <!-- #####End grid item-->
                  <!-- #####Begin grid item--><a href="assets/img/gallery/04.jpg" class="grid-item ol-lightbox art-work design">
                    <div class="gi-wrapper ol-hover hover-4"><img src="assets/img/gallery/04.jpg" alt="image hover">
                      <div class="ol-overlay ov-grad6-alpha-80"></div>
                      <div class="cover ov-dark-alpha-95"></div>
                      <div class="icons"><i class="oli oli-search"></i></div>
                      <h3 class="title">archetypally ostiolar</h3>
                      <h4 class="subtitle">Dec 2015</h4>
                    </div></a>
                  <!-- #####End grid item-->
                  <!-- #####Begin grid item--><a href="assets/img/gallery/05.jpg" class="grid-item ol-lightbox marketing art-work">
                    <div class="gi-wrapper ol-hover hover-4"><img src="assets/img/gallery/05.jpg" alt="image hover">
                      <div class="ol-overlay ov-grad6-alpha-80"></div>
                      <div class="cover ov-dark-alpha-95"></div>
                      <div class="icons"><i class="oli oli-search"></i></div>
                      <h3 class="title">archipelagic overdry</h3>
                      <h4 class="subtitle">Sep 2015</h4>
                    </div></a>
                  <!-- #####End grid item-->
                  <!-- #####Begin grid item--><a href="assets/img/gallery/06.jpg" class="grid-item ol-lightbox marketing design">
                    <div class="gi-wrapper ol-hover hover-4"><img src="assets/img/gallery/06.jpg" alt="image hover">
                      <div class="ol-overlay ov-grad6-alpha-80"></div>
                      <div class="cover ov-dark-alpha-95"></div>
                      <div class="icons"><i class="oli oli-search"></i></div>
                      <h3 class="title">proration peptohydrochloric</h3>
                      <h4 class="subtitle">Feb 2014</h4>
                    </div></a>
                  <!-- #####End grid item-->
                  <!-- #####Begin grid item--><a href="assets/img/gallery/07.jpg" class="grid-item ol-lightbox banner marketing">
                    <div class="gi-wrapper ol-hover hover-4"><img src="assets/img/gallery/07.jpg" alt="image hover">
                      <div class="ol-overlay ov-grad6-alpha-80"></div>
                      <div class="cover ov-dark-alpha-95"></div>
                      <div class="icons"><i class="oli oli-search"></i></div>
                      <h3 class="title">Thomaean pultaceous</h3>
                      <h4 class="subtitle">Nov 2013</h4>
                    </div></a>
                  <!-- #####End grid item-->
                  <!-- #####Begin grid item--><a href="assets/img/gallery/08.jpg" class="grid-item ol-lightbox banner design">
                    <div class="gi-wrapper ol-hover hover-4"><img src="assets/img/gallery/08.jpg" alt="image hover">
                      <div class="ol-overlay ov-grad6-alpha-80"></div>
                      <div class="cover ov-dark-alpha-95"></div>
                      <div class="icons"><i class="oli oli-search"></i></div>
                      <h3 class="title">calibrator etna</h3>
                      <h4 class="subtitle">Dec 2014</h4>
                    </div></a>
                  <!-- #####End grid item-->
                  <!-- #####Begin grid item--><a href="assets/img/gallery/09.jpg" class="grid-item ol-lightbox banner marketing">
                    <div class="gi-wrapper ol-hover hover-4"><img src="assets/img/gallery/09.jpg" alt="image hover">
                      <div class="ol-overlay ov-grad6-alpha-80"></div>
                      <div class="cover ov-dark-alpha-95"></div>
                      <div class="icons"><i class="oli oli-search"></i></div>
                      <h3 class="title">febricula bullocker</h3>
                      <h4 class="subtitle">Jun 2015</h4>
                    </div></a>
                  <!-- #####End grid item-->
                  <!-- #####Begin grid item--><a href="assets/img/gallery/10.jpg" class="grid-item ol-lightbox art-work design">
                    <div class="gi-wrapper ol-hover hover-4"><img src="assets/img/gallery/10.jpg" alt="image hover">
                      <div class="ol-overlay ov-grad6-alpha-80"></div>
                      <div class="cover ov-dark-alpha-95"></div>
                      <div class="icons"><i class="oli oli-search"></i></div>
                      <h3 class="title">advisor sericated</h3>
                      <h4 class="subtitle">Jul 2014</h4>
                    </div></a>
                  <!-- #####End grid item-->
                  <!-- #####Begin grid item--><a href="assets/img/gallery/01.jpg" class="grid-item ol-lightbox banner marketing design">
                    <div class="gi-wrapper ol-hover hover-4"><img src="assets/img/gallery/01.jpg" alt="image hover">
                      <div class="ol-overlay ov-grad6-alpha-80"></div>
                      <div class="cover ov-dark-alpha-95"></div>
                      <div class="icons"><i class="oli oli-search"></i></div>
                      <h3 class="title">semiprosthetic unacclimatized</h3>
                      <h4 class="subtitle">Nov 2013</h4>
                    </div></a>
                  <!-- #####End grid item-->
                  <!-- #####Begin grid item--><a href="assets/img/gallery/02.jpg" class="grid-item ol-lightbox banner marketing art-work">
                    <div class="gi-wrapper ol-hover hover-4"><img src="assets/img/gallery/02.jpg" alt="image hover">
                      <div class="ol-overlay ov-grad6-alpha-80"></div>
                      <div class="cover ov-dark-alpha-95"></div>
                      <div class="icons"><i class="oli oli-search"></i></div>
                      <h3 class="title">subclavioaxillary geomaly</h3>
                      <h4 class="subtitle">Sep 2013</h4>
                    </div></a>
                  <!-- #####End grid item-->
                </div>
              </div>
            </section>
          </section>
          <!-- #####End main area
          -->
          <div class="clearfix"></div>
        </div>
      </section>
      <!-- end #contents-->
      <div class="row slim-container bg-white">
        <div class="container">
          <div class="sp-line-0 bg-white"></div>
        </div>
      </div>
      <footer id="footer">
        <div id="footer-main" class="text-center bg-white">
          <div class="row">
            <div class="container">
              <div class="col-md-6 col-md-offset-3">
                <ul class="social-icons shape-circle hover-theme m-top-20">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
                <div class="sp-blank-20"></div>
                <div class="copyright">owwwlab 2015</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end #footer-->
    </div>
    <!-- #####Begin scripts-->
    <script src="assets/js/vendors/vendors.js"></script>
    <!-- Local Revolution tools-->
    <!-- Only for local and can be removed on server-->
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <!-- #####End scripts-->
  </body>
</html>