<!DOCTYPE html>
<!--
                                   _       _   
								  | |     | |    
  Designed and Coded By           | | __ _| |__  
 / _ \ \ /\ / /\ \ /\ / /\ \ /\ / / |/ _` | '_ \ 
| (_) \ V  V /  \ V  V /  \ V  V /| | (_| | |_) |
 \___/ \_/\_/    \_/\_/    \_/\_/ |_|\__,_|_.__/ 

http://themeforest.net/user/owwwlab/
                                          
-->
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/WebPage">
  <!-- #####Begin head-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- globalise scripting and styling content language-->
    <meta name="Content-Type-Script" content="text/javascript">
    <meta name="Content-Type-Style" content="text/css">
    <!-- author of this doc-->
    <meta name="author" content="owwwlab.com">
    <!-- ################################-->
    <!-- #### add SEO metadata here-->
    <!-- ################################-->
    <!-- #####Begin styles-->
    <!-- stylesheets	-->
    <link href="assets/css/vendors/vendors.css" rel="stylesheet" type="text/css">
    <!-- Load extra page specific css-->
    <!-- Overwrite vendors-->
    <link href="assets/css/vendors/vendors-overwrites.css" rel="stylesheet" type="text/css">
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css">
    <link href="assets/css/demo2.css" rel="stylesheet" type="text/css">
    <!-- #####End styles-->
    <!-- #####Begin JS-->
    <!-- add your scripts to the end of the page for sake of page load speed-->
    <!-- scripts that need to be at head section-->
    <script src="assets/js/vendors/jquery.min.js"></script>
    <!-- #####End JS-->
    <!-- #####Begin load google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Sintony:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,200,300,400italic,500,700,900&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <!-- #####End load google fonts-->
    <title> - CHAOS HTML Template</title>
  </head>
  <!-- #####End head-->
  <body class="fullwidth bg-gray sticky-header homepage">
    <div id="wrapper" class="boxed-layout bg-white">
      <section id="contents">
        <div class="head-wrapper">
          <header id="header" data-sticky-threshold='-300' class="trans dark sticky-light slim-container">
            <div class="head-main header-home text-center">
              <div class="logo-wrapper visible-sticky">
                <!-- standard Logo--><a href="index.html" class="standard-logo text-logo"><img src="assets/img/avatar.jpg" alt="Dr. Chaos Mctabi">
                  <div class="text-wrapper">
                    <h1 class="title">Dr. Chaos McTabi</h1>
                  </div></a>
              </div>
              <!-- primary navigation-->
              <ul id="primary-menu">
                <li class="current-menu-item"><a href="index.html" title="Home"><span>Home</span></a>
                </li>
                <li><a href="publications.html" title="Publications"><span>Publications</span></a>
                </li>
                <li><a href="blog.html" title="Blog"><span>Blog</span></a>
                </li>
                <li><a href="gallery.html" title="Gallery"><span>Gallery</span></a>
                </li>
                <li><a href="contact.html" title="Contact"><span>Contact</span></a>
                </li>
              </ul>
              <!-- #####Begin icons beside menu-->
              <div class="header-icons">
                <!-- #####Begin mobile menu trigger-->
                <div class="ol-mobile-trigger hamburger hamburger--elastic">
                  <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                  </div>
                </div>
                <!-- #####End mobile menu trigger-->
              </div>
            </div>
          </header>
          <div data-img-src="assets/img/bg/06-1.jpg" data-parallax-mode="mode-title" class="page-head h-700 parallax-layer">
            <div class="container">
              <div class="tb-vcenter-wrapper">
                <div class="vcenter">
                  <div data-parallax-mode="mode-header-demo-2" class="ol-user-profile parallax-layer">
                    <div class="avatar"><img src="assets/img/people-01.jpg"></div>
                    <h1 class="title"><span>Dr.Chaos</span>McTabi</h1>
                    <h2 class="subtitle">Postdoc Candidate @ Stanford University</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-contents">
          <section class="section slim-container p-bottom-80">
            <div class="container">
              <p><span class="ol-dropcaps square dark">C</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia commodo mauris, vel ultrices ante. Fusce condimentum quam ut enim bibendum, vitae placerat enim consequat. Etiam consectetur congue sapien ut bibendum. Nullam convallis ac turpis a mollis. Phasellus ac faucibus ante. Etiam rutrum varius rutrum. Cras faucibus lorem eget justo ultrices imperdiet. Curabitur in purus ullamcorper, viverra libero id, rutrum dolor. Curabitur sit amet orci pharetra, dapibus erat et, tempor ipsum. Duis rutrum porta eros sed auctor. Pellentesque et mollis erat. Nulla at mattis odio, eu ornare lorem. Nam malesuada massa a condimentum mollis. Quisque eleifend ultrices velit quis luctus.</br></br>
                Morbi id volutpat purus. Aliquam pellentesque commodo iaculis. Vivamus finibus ullamcorper ante at ultrices. Mauris sit amet pellentesque ipsum, eget mollis leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer ac ultrices augue, molestie cursus est. Mauris ut vulputate nunc. Vestibulum scelerisque condimentum augue, a placerat ipsum molestie pellentesque. Donec quam purus, venenatis vitae nisi vel, facilisis accumsan eros. Aliquam mattis risus tortor, sed sagittis mi laoreet vel.</br></br>
                Aenean at est nec ex dignissim interdum sit amet eget ligula. Curabitur elementum urna sed ligula vestibulum, quis vestibulum massa suscipit. Suspendisse at libero purus. Aliquam blandit tempus porttitor. Sed finibus feugiat arcu, ut lobortis libero mattis eget. Vivamus maximus, ante ac facilisis tincidunt, leo sem efficitur justo, at scelerisque lorem dolor a risus. In nisl dui, congue sed est et, dictum tincidunt nisi. Aenean non vehicula metus, sed rutrum ante. Donec in libero euismod, facilisis justo ac, finibus arcu. Cras porta auctor enim vel porta. Fusce sed porttitor nisi.
              </p>
            </div>
          </section>
          <section class="slim-container">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h3>Educations</h3>
                  <p>Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.</p>
                  <div class="ol-timeline">
                    <div class="tl-item pub-item with-icon"><span class="item-section">2015</span>
                      <div class="elem-wrapper"><i class="oli oli-bookmark"></i></div>
                      <div class="content-wrapper">
                        <h3 class="title">Doctor of Philosophy</h3>
                        <div class="description">
                          <p>in Mechanical Engineering <br> Stanford University</p>
                        </div>
                      </div>
                    </div>
                    <div class="tl-item pub-item with-icon"><span class="item-section">2012</span>
                      <div class="elem-wrapper"><i class="oli oli-bookmark"></i></div>
                      <div class="content-wrapper">
                        <h3 class="title">Master of Science</h3>
                        <div class="description">
                          <p>in Mechanical Engineering <br> Stanford University</p>
                        </div>
                      </div>
                    </div>
                    <div class="tl-item pub-item with-icon"><span class="item-section">2008</span>
                      <div class="elem-wrapper"><i class="oli oli-bookmark"></i></div>
                      <div class="content-wrapper">
                        <h3 class="title">Bachelor of Science</h3>
                        <div class="description">
                          <p>in Mechanical Engineering <br> Stanford University</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h3>Positions</h3>
                  <p>Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.</p>
                  <div class="ol-timeline">
                    <div class="tl-item pub-item with-icon"><span class="item-section">2015</span>
                      <div class="elem-wrapper"><i class="oli oli-desk_lamp"></i></div>
                      <div class="content-wrapper">
                        <h3 class="title">General Atlantic Professor</h3>
                        <div class="description">
                          <p>in Mechanical Engineering <br> Stanford University</p>
                        </div>
                      </div>
                    </div>
                    <div class="tl-item pub-item with-icon"><span class="item-section">2012</span>
                      <div class="elem-wrapper"><i class="oli oli-desk_lamp"></i></div>
                      <div class="content-wrapper">
                        <h3 class="title">Assistance Professor</h3>
                        <div class="description">
                          <p>in Mechanical Engineering <br> Stanford University</p>
                        </div>
                      </div>
                    </div>
                    <div class="tl-item pub-item with-icon"><span class="item-section">2005</span>
                      <div class="elem-wrapper"><i class="oli oli-desk_lamp"></i></div>
                      <div class="content-wrapper">
                        <h3 class="title">Baghale Seller</h3>
                        <div class="description">
                          <p>in Daneshjo Blvd. <br> Shiraz Hafezie</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="section section-narrow slim-container">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h3>Research Projects</h3>
                  <p>Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.</p>
                  <div data-cols="3" data-nav="true" data-margin="30" data-cols-md='2' data-loop class="owl-carousel items featured-items owwwlab-theme nav-center"><a href="#" class="featured-item boxed">
                      <div class="features-image ov-light-alpha-50"><img src="assets/img/featured-items/01.jpg" alt="image"></div>
                      <h3 class="features-title">Computer Architecture</h3></a><a href="#" class="featured-item boxed">
                      <div class="features-image ov-light-alpha-50"><img src="assets/img/featured-items/02.jpg" alt="image"></div>
                      <h3 class="features-title">Analysis of Algorithm</h3></a><a href="#" class="featured-item boxed">
                      <div class="features-image ov-light-alpha-50"><img src="assets/img/featured-items/03.jpg" alt="image"></div>
                      <h3 class="features-title">Image Processing</h3></a><a href="#" class="featured-item boxed">
                      <div class="features-image ov-light-alpha-50"><img src="assets/img/featured-items/04.jpg" alt="image"></div>
                      <h3 class="features-title">Analysis of Algorithm</h3></a><a href="#" class="featured-item boxed">
                      <div class="features-image ov-light-alpha-50"><img src="assets/img/featured-items/05.jpg" alt="image"></div>
                      <h3 class="features-title">Computer Architecture</h3></a><a href="#" class="featured-item boxed">
                      <div class="features-image ov-light-alpha-50"><img src="assets/img/featured-items/06.jpg" alt="image"></div>
                      <h3 class="features-title">Language processing</h3></a></div>
                </div>
              </div>
            </div>
          </section>
          <section class="section slim-container p-bottom-0 p-top-0">
            <div class="container">
              <h3>Honors &amp; Awards</h3>
              <p>Mauris sit amet pellentesque ipsum, eget mollis leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer ac ultrices augue, molestie cursus est.</p>
              <div class="ol-timeline">
                <div class="tl-item pub-item with-icon"><span class="item-section">2015</span>
                  <div class="elem-wrapper"><i class="oli oli-university"></i></div>
                  <div class="content-wrapper">
                    <h3 class="title">Nobel Prize</h3>
                    <div class="description">
                      <p>Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.</p>
                    </div>
                  </div>
                </div>
                <div class="tl-item pub-item with-icon"><span class="item-section">2000</span>
                  <div class="elem-wrapper"><i class="oli oli-literature"></i></div>
                  <div class="content-wrapper">
                    <h3 class="title">Nuffield Foundation New Lecturer Award</h3>
                    <div class="description">
                      <p>Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.</p>
                    </div>
                  </div>
                </div>
                <div class="tl-item pub-item with-icon">
                  <div class="elem-wrapper"><i class="oli oli-literature"></i></div>
                  <div class="content-wrapper">
                    <h3 class="title">Invaders And Guardians Award</h3>
                    <div class="description">
                      <p>Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.</p>
                    </div>
                  </div>
                </div>
                <div class="tl-item pub-item with-icon">
                  <div class="elem-wrapper"><i class="oli oli-university"></i></div>
                  <div class="content-wrapper">
                    <h3 class="title">Influence Of The Land Award</h3>
                    <div class="description">
                      <p>Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis. Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis. Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. </p>
                    </div>
                  </div>
                </div>
                <div class="tl-item pub-item with-icon"><span class="item-section">1994</span>
                  <div class="elem-wrapper"><i class="oli oli-like"></i></div>
                  <div class="content-wrapper">
                    <h3 class="title">Descendant Without Duty Award</h3>
                    <div class="description">
                      <p>Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.</p>
                    </div>
                  </div>
                </div>
                <div class="tl-item pub-item with-icon"><span class="item-section">1980</span>
                  <div class="elem-wrapper"><i class="oli oli-biomass"></i></div>
                  <div class="content-wrapper">
                    <h3 class="title">Losing The Future Award</h3>
                    <div class="description">
                      <p>Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis. Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.</p>
                    </div>
                  </div>
                </div>
                <div class="tl-item pub-item with-icon"><span class="item-section">1950</span>
                  <div class="elem-wrapper"><i class="oli oli-university"></i></div>
                  <div class="content-wrapper">
                    <h3 class="title">Turtles Of The Sea Award</h3>
                    <div class="description">
                      <p>Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
      <!-- end #contents-->
      <div class="row slim-container bg-white">
        <div class="container">
          <div class="sp-line-0 bg-white"></div>
        </div>
      </div>
      <footer id="footer">
        <div id="footer-main" class="text-center bg-white">
          <div class="row">
            <div class="container">
              <div class="col-md-6 col-md-offset-3">
                <ul class="social-icons shape-circle hover-theme m-top-20">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
                <div class="sp-blank-20"></div>
                <div class="copyright">owwwlab 2015</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end #footer-->
    </div>
    <!-- #####Begin scripts-->
    <script src="assets/js/vendors/vendors.js"></script>
    <!-- Local Revolution tools-->
    <!-- Only for local and can be removed on server-->
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <!-- #####End scripts-->
  </body>
</html>